.center {
  margin: auto;
  width: 50%;
}

.background {
  background-color: rgba(255, 255, 255, 1);
  background-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(108, 99, 255, 1) 100%
  );
}

.header {
    margin-bottom: 1em;
    top: -10%;
    color: black;
    font-size: 3em;
}

@media only screen and (max-width: 1300px) {
  .mobile {
    display: none;
  }
} 